html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: "Source Sans Pro", sans-serif;
  padding-right: 0 !important;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
}

.border-bottom-neon {
  border-bottom: 4px solid #00d6d6;
}

.border-neon {
  border: 3px solid #00d6d6;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.bg-navy {
  background-color: #002a32;
}

.white-space {
  white-space: pre-wrap;
}

.bg-navy-50 {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-dark-navy {
  background-color: #011e24;
}

.text-navy {
  color: #002a32;
}

.text-neon {
  color: #00d6d6;
}

a {
  color: #00d6d6;
}

a:hover,
a:active,
a:focus {
  color: #01b3b3;
  outline: none;
}

.btn-outline-neon {
  background: none;
  border-color: #00d6d6;
  color: #00d6d6;
}

.btn-outline-neon:hover,
.btn-outline-neon:active {
  background-color: #00d6d6;
  color: #fff;
}

.btn-outline-navy {
  background: none;
  border-color: #002a32;
  color: #002a32;
}

.btn-outline-navy:hover,
.btn-outline-navy:focus,
.btn-outline-navy:active {
  background-color: #002a32;
  color: #00d6d6;
}

.navy-form {
  color: #fff;
  background-color: #002a32;
  border: 1px solid #00d6d6;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navy-form:focus {
  color: #fff;
  background-color: #002a32;
  border-color: #00d6d6;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 214, 214, 0.25);
}

.post-form {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid #00d6d6;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.post-form:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: #00d6d6;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 214, 214, 0.25);
}

/* Nav Styling */
a.navbar-brand {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
}

.navbar-brand.logo {
  color: #fff;
}

.navbar-brand.logo:hover,
.navbar-brand.logo:active,
.navbar-brand.logo:focus {
  color: #00d6d6;
}

.navbar .navbar-nav .link-neon {
  color: #00d6d6;
}

.navbar .navbar-nav .link-neon:hover,
.navbar .navbar-nav .link-neon:active,
.navbar .navbar-nav .link-neon:focus {
  color: #01b3b3;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

.navbar .dropdown-item {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

.avatar-nav {
  width: 50px;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Sign In / Register Styles */
.form-signin {
  max-width: 400px;
  margin: 0 auto;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Feed Styles */
.avatar-info {
  width: 128px;
}

.avatar {
  width: 64px;
  height: 64px;
}

.bg-salmon {
  background-color: #f96854;
}

.patreon {
  color: #052d49;
}

/* Movie Styles */
.jumbotron {
  background-color: #002a32;
  background-size: cover;
  background-position: top;
}
